@import 'utilities/config';
@import 'utilities/helper';
@import 'utilities/extend';

@import 'base/base';
@import 'base/typography';

@import 'layout/header';
@import 'layout/nav';
@import 'layout/profile';
@import 'layout/footer';
@import 'layout/container';




/*============================
Media Query
============================*/

@media (min-width: 768px) {
	
	.intro {
		text-align: left;
	}
	
	.bottom-nav {
		display: inline-block;
		float: right;
		margin-top: 19px;
	}
	#back-to-top {
		display: none;
	}
}




