////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////

//Basic
$alabaster: #FAFAFA;

//Background color
$background-color_default: $alabaster;



////////////////////////////////////////////////////
// BREAKPOINT
////////////////////////////////////////////////////

$breakpoint: (
	windows_s: 768px,
	windows_m: 1024px,
);