////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////

//Basic
$alabaster: #FAFAFA;

//Background color
$background-color_default: $alabaster;

//Navigation button color
$nav__button_default: #FFFFFF;

//Divider color
$divider_color_default: #ECECEC;

//Font color
$font-color_default: #878787;
$font-color_primary: #4A4A4A;



////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////

//Font weight
$font-weight: (
	light       : 300,
	regular     : 400,
	medium      : 500,
	bold        : 700,
);





////////////////////////////////////////////////////
// BREAKPOINT
////////////////////////////////////////////////////

$breakpoint: (
	windows_s: 768px,
	windows_m: 1024px,
);