////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////

//Basic
$alabaster: #FAFAFA;

//Background color
$background-color_default: $alabaster;



////////////////////////////////////////////////////
// BREAKPOINT
////////////////////////////////////////////////////

$screen__size: (
	s: 768px,
	m: 1024px,
);