////////////////////////////////////////////////////
// POSITION
////////////////////////////////////////////////////

/*-------Layout center-------*/
%center {
	margin: 0 auto;
}

////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////

/*-------Text center-------*/
%text-center {
	text-align: center;
}



////////////////////////////////////////////////////
// CONTENT BLOCK
////////////////////////////////////////////////////

/*-------Content block-------*/
%content-block_grey {
	background: $background-color_default;
	@extend %text-center;
	padding-top: 24px;
	padding-bottom: 43px;
}