/*============================
Container
============================*/

.wrapper {
	max-width: 1024px;
	@extend %center;
}

.container {
	@extend .wrapper;
	padding-left: 16px;
	padding-right: 16px;

	@media (min-width: 768px) {
		& {
			padding-right: 30px;
			padding-left: 30px;
		}
	}
}