/*============================
FOOTER
============================*/

footer {
	@extend %content-block_grey;
}

/*--Contact information--*/
.contact-info {
	margin       : 40px 0;
}

.contact-info__item + .contact-info__item {
	margin-top   : 22px;
}

/*--Bottom area of footer--*/
.footer__bottom {
	@extend %disp_flex;
	@include justify-content(space-between);
	margin-top   : 62px;
	padding-top  : 24px;
	border-top   : 1px solid $divider_color_default;
}

//Button | back to top
.bottom__button {
	@extend .bottom__title;
	@include breakpoint(windows_s) {
		display  : none;
	}
}

.bottom__nav {
	display      : none;
	margin-top   : 19px;
	@include breakpoint(windows_s) {
		display  : inline-block;
		
	}
}


