/*============================
FOOTER
============================*/

footer {
	background: $background-color_default;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 34px;
}

.personal-info {
	margin: 40px 0;
}

.personal-info li {
	margin-bottom: 22px;
}

.bottom-caption {
	margin-top: 62px;
	border-top: 1px solid #ECECEC;
}

.bottom-caption h2 {
	display: block;
	margin-top: 34px;
	margin-bottom: 0;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.bottom-nav {
	display: none;
}