////////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////////

header {
	@extend %content-block_grey;
}

/*-------Introduction-------*/

/*Profile picture*/
.profile-pic {
	width: 200px;
	margin: 0 0 28px;

	@media (min-width: 768px) {
		& {
			width: 45%;
			float: right;
			margin-left: 30px;
		}
	}
}

/*Introduction text*/
.intro {
	@media (min-width: 768px) {
		& {
			text-align: left;
		}
	}
}