/*============================
HEADER
============================*/

header {
	@extend %content-block_grey;
}

/*--Profile picture--*/
.profile-pic {
	width        : 200px;
	margin-bottom: 28px;
	@include breakpoint(windows_s) {
		width      : 45%;
		float      : right;
		margin-left: 30px;
	}
}

/*--Introduction--*/
.intro {
	@include breakpoint(windows_s) {
		text-align : left;
	}
}