/*============================
PORTFOLIO
============================*/

.portfolio__project {
	@extend %text-center;
	padding-bottom: 32px;
}

.project__img {
	margin-bottom : 32px;
}

.project__title {
	margin-top    : 0;
	margin-bottom : 16px;
}

