/*============================
NAVIGATION
============================*/

nav {
	margin-bottom: 43px;
	@extend %text-center;
}

nav li {
	background   : $nav__button_default;
	margin-top   : 5px;
	padding      : 15px 0;
	@include breakpoint(windows_s) {
		display         : inline-block;
		margin          : 0 20px;
		background-color: transparent;
	}
}


