////////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////////

#title {
	@extend %font-color_primary;
	@extend %font-weight_bold;
	font-size: 2.6em;
	margin-top: 0;
	margin-bottom: 24px;
}

////////////////////////////////////////////////////
// NAVIGATION
////////////////////////////////////////////////////

nav a {
	@extend %font-color_primary;
	@extend %font-weight_medium;
	font-size: 1.2em;
}



////////////////////////////////////////////////////
// MAIN
////////////////////////////////////////////////////

.section__title {
	@extend %text-center;
	@extend %font-color_primary;
	@extend %font-weight_bold;
	width: 100%;
	font-size: 1.4em;
	padding: 50px 0;
}

.project__title {
	@extend %font-weight_regular;
	font-size: 1.8em;
}

.project__description {
	@extend p;
}



////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////

.contact-info__item {
	@extend p;
}

.bottom__title {
	@extend %text-center;
	@extend %font-color_primary;
	@extend %font-weight_medium;
	font-size: 1.2em;
}



