////////////////////////////////////////////////////
// NAVIGATION
////////////////////////////////////////////////////

nav li {
	font-size: 1.2em;
}

nav a {
	color: #4A4A4A;
	font-weight: 500; /* Medium */
}

.section-title {
	text-align: center;
	font-size: 1.4em;
	color: #4A4A4A;
	font-weight: 700; /* Bold */
}



////////////////////////////////////////////////////
// INTRODUCTION
////////////////////////////////////////////////////

.portfolio h3 {
	font-size: 1.8em;
	font-weight: 400; /* Regular */
}



////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////

.bottom-caption h2 {
	text-align: center;
	font-size: 1.2em;
	color: #4A4A4A;
	font-weight: 500; /* Medium */
}

.bottom-caption a:visited {
	color: #4A4A4A;
}