////////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////////

#title {
	font-size: 2.6em;
	color: #4A4A4A;
	font-weight: 700; /* Bold */
	margin-top: 0;
	margin-bottom: 24px;
}

////////////////////////////////////////////////////
// NAVIGATION
////////////////////////////////////////////////////

nav li {
	font-size: 1.2em;
}

nav a {
	color: #4A4A4A;
	font-weight: 500; /* Medium */
}



////////////////////////////////////////////////////
// MAIN
////////////////////////////////////////////////////

.section-title {
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	color: #4A4A4A;
	font-weight: 700; /* Bold */
	padding: 50px 0;
}

.project__title {
	font-size: 1.8em;
	font-weight: 400; /* Regular */
}

.project__description {
	@extend p;
}



////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////

.personal-info {
	@extend p;
}

.bottom-caption h2 {
	text-align: center;
	font-size: 1.2em;
	color: #4A4A4A;
	font-weight: 500; /* Medium */
}

.bottom-caption a:visited {
	color: #4A4A4A;
}



